/* button styles */

.advanced-search-button {
  background: transparent;
  align-items: center;
  flex-direction: row;
  display: flex;
  cursor: pointer;
}

.minidiv .advanced-search-button {
  height: 32px;
}

.search-button {
  height: 44px;
  width: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 0;
}

.looking-glass {
  color: #ff8300;
  height: 24px;
  width: 24px;
  margin: auto;
}

.looking-glass-icon {
  stroke: currentColor;
}

.separator {
  display: block;
  border-left: 1px solid #dadce0;
  height: 65%;
}

/* dropdown styles */

.search-dropdown-container {
  background: #fff;
  border-radius: 24px;
  box-shadow: 0px 4px 6px rgba(32,33,36,0.28);
  margin-left: -4px;
  margin-top: 0;
  position: absolute;
  top: -4px;
  width: 150%;
  z-index: 989;
  display: none;
  border: 1px solid #c0c0c0;
}

.search-dropdown-inner {
  margin: 15px;
}

.search-dropdown-close {
  align-self: flex-end;
  cursor: pointer;
  display: -moz-box;
  display: flex;
  padding: 14px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.search-dropdown-header {
  color: rgb(32,33,36);
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: .1px;
}

.search-dropdown-content {
  background: rgb(248,249,250);
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  -moz-box-flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
  padding: 10px 0px 10px 10px;
}

/* if we are on the main page of google, change dropdown layout */
html[itemtype="http://schema.org/WebPage"] .search-dropdown-content {
  grid-template-columns: 1fr 1fr 1fr;
}

html[itemtype="http://schema.org/WebPage"] .search-dropdown-container {
  width: 200%;
  left: -50%;
}

.search-dropdown-input {
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}

.search-dropdown-input-label {
  display: block;
  margin: 5px;
}

.search-dropdown-input-field {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: -moz-inline-box;
  display: inline-flex;
  -moz-box-flex: 1;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

.search-dropdown-input-field.short {
  width: 45%;
}

.search-dropdown-input-field.right {
  float: right;
}

.search-dropdown-button-container{
  padding: 10px;
  position: relative;  
  min-height: 25px;
}

.search-dropdown-button {
  background: #fff;
  border-radius: 32px;
  border: 1px solid rgb(218,220,224);
  color: rgb(26,115,232);
  cursor: pointer;
  display: -moz-inline-box;
  display: inline-flex;
  flex-shrink: 0;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  -moz-box-pack: center;
  justify-content: center;
  letter-spacing: .25px;
  outline: 0;
  padding: 8px 24px;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.search-dropdown-button:hover{
  background-color: rgba(25,103,210,0.08);
}

.label-checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.custom-dropdown .fstdropdown > .fstselected {
    color: #000;
}

.custom-dropdown .fstlist > div {
  border-color: #ccc;
}

.custom-dropdown .fstdropdown {
  padding: 1px 0px 1px 0px;
  box-sizing: border-box;
}

/* dark mode colors */
@media (prefers-color-scheme: dark) {
  .looking-glass {
    color: #ffcb00
  }

  .separator {
    border-color: #5f6368;
  }

  .search-dropdown-container {
    background-color: #303134;
    border-color: rgb(32,33,36);
  }

  .search-dropdown-header {
    color: rgb(241,243,244);
  }

  .search-dropdown-content {
    background-color: rgb(32,33,36);
    border-color: rgb(60,64,67);
  }

  .search-dropdown-input-field {
    background-color: #303134;
    border-color: rgb(60,64,67);
    color: rgb(241,243,244);
  }
  
  .search-dropdown-button {
    background-color: #303134;
    border-color: rgb(60,64,67);
    color: rgb(138,180,248);
  }

  .search-dropdown-button:hover{
    background-color: rgba(110, 160, 229, 0.08);
  }

  .custom-dropdown .fstdropdown > .fstselected {
    color: #fff;
  }

  .custom-dropdown .fstsearchinput {
    color: #fff;
  }

  .custom-dropdown .fstdropdown {
    background-color: #303134;
    border: 1px solid rgb(60,64,67)
  }

  .custom-dropdown .fstsearchinput {
     background-color: rgb(32,33,36);
     color: #000;
  }
  
  .custom-dropdown .fstdropdown.open:hover{
      border-color: rgb(204,204,204);
      overflow-x: hidden;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,204,204,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,204,204,.6);
  }
  
  .custom-dropdown .fstlist > div {
      border-bottom: 1px solid rgb(60,64,67);
  }
}

.last-column {
  grid-column-start: -1;
  grid-column-end: -2;
}