/* button styles */

.advanced-search-button {
  background: transparent;
  align-items: center;
  flex-direction: row;
  display: flex;
  cursor: pointer;
}

.minidiv .advanced-search-button {
  height: 32px;
}

.search-button {
  height: 44px;
  width: 44px;
  background: transparent;
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  padding: 0;
}

.looking-glass {
  color: rgb(255, 131, 0);
  height: 24px;
  width: 24px;
  margin: auto;
}

.looking-glass-icon {
  stroke: currentColor;
}

.separator {
  display: block;
  border-left: 1px solid rgb(218, 220, 224);
  height: 65%;
}

/* dropdown styles */

.search-dropdown-container {
  background: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: 0px 4px 6px rgba(32,33,36,0.28);
  margin-left: -4px;
  margin-top: 0;
  position: absolute;
  top: -4px;
  width: 150%;
  z-index: 1000;
  display: none;
  border: 1px solid rgb(223, 225, 229);
}

.search-dropdown-container * {
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
}

.search-dropdown-inner {
  margin: 15px;
}

.search-dropdown-close {
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  padding: 14px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.search-dropdown-header {
  color: rgb(32,33,36);
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: .1px;
}

.search-dropdown-content {
  background: rgb(248,249,250);
  border: 1px solid rgb(223, 225, 229);
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
  padding: 10px 0px 10px 10px;
}

.last-column {
  grid-column-start: -1;
  grid-column-end: -2;
}

/* if we are on the main page of google, change dropdown layout */
html[itemtype="http://schema.org/WebPage"] {
  .search-dropdown-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .search-dropdown-container {
    width: 200%;
    left: -50%;
  }
}

.search-dropdown-input {
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}

.search-dropdown-input label {
  display: inline;
  margin: 5px;
}

.search-dropdown-input-field {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  display: inline-flex;
  flex-grow: 1;
  font-size: 14px;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  margin-top: 3px;
}

.search-dropdown-input-field.short {
  width: 45%;
}

.search-dropdown-input-field.right {
  float: right;
}

.search-dropdown-button-container{
  padding: 10px;
  position: relative;  
  min-height: 25px;
}

.search-dropdown-button {
  background: rgb(255, 255, 255);
  border-radius: 32px;
  border: 1px solid rgb(218,220,224);
  color: rgb(26,115,232);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 14px;
  justify-content: center;
  letter-spacing: .25px;
  outline: 0;
  padding: 8px 24px;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.search-dropdown-button:hover{
  background-color: rgba(25,103,210,0.08);
}

.inline-checkbox {
  margin: 0;
}

/* custom styles for fst-dropdown */

.custom-dropdown {
  .fstdropdown > .fstselected {
    color: rgb(0, 0, 0);
  }

  .fstlist > div {
    border-color: rgb(204, 204, 204);
  }

  .fstdropdown {
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    margin-top: 3px;  
  }

  .fstdropdown:not(.open) {
    height: 35px;
  }
}

/* dark mode colors */
@media (prefers-color-scheme: dark) {
  .looking-glass {
    color: rgb(255, 203, 0)
  }

  .separator {
    border-color: rgb(95, 99, 104);
  }

  .search-dropdown-container {
    background-color: rgb(48, 49, 52);
    border-color: rgb(32,33,36);
  }

  .search-dropdown-header {
    color: rgb(241,243,244);
  }

  .search-dropdown-content {
    background-color: rgb(32,33,36);
    border-color: rgb(60,64,67);
  }

  .search-dropdown-input-field {
    background-color: rgb(48, 49, 52);
    border-color: rgb(60,64,67);
    color: rgb(241,243,244);
  }
  
  .search-dropdown-button {
    background-color: rgb(48, 49, 52);
    border-color: rgb(60,64,67);
    color: rgb(138,180,248);
  }

  .search-dropdown-button:hover{
    background-color: rgba(110, 160, 229, 0.08);
  }

  .custom-dropdown {
    .fstdropdown > .fstselected {
      color: rgb(255, 255, 255);
    }
  
    .fstsearchinput {
      color: rgb(255, 255, 255);
    }
  
    .fstdropdown {
      background-color: rgb(48, 49, 52);
      border-color: rgb(60,64,67)
    }
  
    .fstsearchinput {
       background-color: rgb(32,33,36);
       color: rgb(0, 0, 0);
    }
    
    .fstdropdown.open:hover{
        border-color: rgb(204,204,204);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,204,204,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204,204,204,.6);
    }
    
    .fstlist > div {
        border-color: rgb(60,64,67);
    }
  }
}

/* toggle visibilty between date picker and date dropdown */

.search-dropdown-input > #date-picker {
  display: none;
}

.search-dropdown-input > #date-dropdown {
  display: block;
}

.search-dropdown-input > input#date-checkbox:checked ~ #date-picker{ 
  display: flex; 
}

.search-dropdown-input > input#date-checkbox:checked ~ #date-dropdown{ 
  display: none; 
}

/* toggle visibilty between format picker and format list */

.search-dropdown-input > #type-input {
  display: none;
}

.search-dropdown-input > #type-dropdown {
  display: block;
}

.search-dropdown-input > input#type-checkbox:checked ~ #type-input{ 
  display: block; 
}

.search-dropdown-input > input#type-checkbox:checked ~ #type-dropdown{ 
  display: none; 
}